<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>CRUD Application</title>


</head>

<body>
    <!-- header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class='nav-brand text-dark'>User management system</i></a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /header -->

    <!-- main -->
    <main id='site-main'>
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new account</span>

            </div>

            <!-- form handling -->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <!-- for id -->
                        <input type="hidden" name="id" value="">
                        <!-- for name -->
                        <input type="text" name="name" value="" placeholder="John Smith">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id="radio1" name="gender" value="Male">
                            <label for="radio1" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <!-- since name is same for radio input hence its functionality is preserved -->
                            <input type="radio" id="radio2" name="gender" value="Female">
                            <label for="radio2" class="radio-label">Female</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio3" name="gender" value="Active">
                            <label for="radio3" class="radio-label">Active</label>
                        </div>


                        <div class="radio inline">
                            <!-- since name is same for radio input hence its functionality is preserved -->
                            <input type="radio" id="radio4" name="gender" value="Inctive">
                            <label for="radio4" class="radio-label">Inctive</label>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>


            </form>
        </div>
    </main>
    <!-- /main -->

</body>

</html>